
.btn {
  padding: 6px 12px;
  font-size: small;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  flex: 1;
}

.btn:hover {
  opacity: .6;
}

.red {
  background-color: red;
  border: 2px solid red;
  color:white;
}
.green {
  background-color: green;
  border: 2px solid green;
  color:white;
}
.yellow {
  background-color: yellow;
  border: 2px solid yellow;
  color:black;
}