.wrapper_class {
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
  border-radius: 5px;
}

.textarea_class {
  padding: .6rem .5rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
}

.settings_class {
  display: flex;
  flex-direction: row;
  padding: .6rem .5rem;
  margin-bottom: .5rem;
  column-gap: .5rem;
}

.editor_class {
  padding: 1rem;
  border: 1px solid #ccc;
  min-height: 4rem;
  border-radius: 5px;

}
.toolbar_class {
  display: flex;
  column-gap: .25rem;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
  border-radius: 4px;

}

.icon {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;


  border-radius: 4px;
  border: 2px solid gray;
  cursor: pointer;
}
.icon:hover {
  border: 2px solid rgb(0, 25, 216);
  background-color: rgb(0, 25, 216);;
  fill: white;
}

.svgWhite {
  fill:white !important;
}

.active {
  background-color: rgb(0, 25, 216);
  fill:white;
  border: 2px solid rgb(0, 25, 216);
}

.font_size {
  display: flex;
  background-color: transparent;
  font-weight: bold;
  min-height: 28px;
  border-radius: 4px;
  border: 2px solid gray;
  cursor: pointer;
  align-items: center;
}

.center {
  text-align: center;
}

.editorBold {
  color: purple;
}

.editorUnderline {
  text-decoration: underline;
}

.placholder {
  position: relative;
  top: -65px;
  padding-left: 18px;
}