
.no_dec {
  text-decoration: none;
  color: black;
}

.nb {
  font-weight: bold;
}

.ib {
  font-weight: bold;
  font-style: italic;
}

/* #region Size */
.sz4 {
  font-size: 4px;
}
.sz8 {
  font-size: 8px;
}
.sz12 {
  font-size: 12px;
}
.sz16 {
  font-size: 16px;
}
.sz20 {
  font-size: 20px;
}
.sz24 {
  font-size: 24px;
}
/* #endregion */

.cfx {
  display: flex;
}

.rw {
  flex-direction: row;
}

.cn {
  flex-direction: column;
}

.fgrow {
  flex: 1;
}

.wfit {
  width: fit-content;
}

.mv-right {
  margin: 0 0;
  transition: margin .5s;
}
.mv-right:hover {
  margin: 0 .5rem ;
}